.dockerignore
.git
.github
**/node_modules/
**/vendor/
**/tests/
Dockerfile
.devcontainer/
!.devcontainer/docker/
app/storage/*
app/phpunit.xml
app/phpcs.xml
app/phpstan.neon
app/router.php
jsconfig.json
README.md
.DS_Store
.DS_Store?
.vscode
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.gitignore
.gitattributes
*.log
*.architect~
!.gitkeep
