<!DOCTYPE html>
<html lang="es">
<head>
	<!-- Codificación de la pagina a utf-8 para que admita caracteres especiales -->
	<meta charset="utf-8" />
    <!-- Referencia a los datos del autor y material utilizado -->
    <link rel="author" href="${root}humans.txt" />
    <!-- Visualización en cualquier dispositivo utilizando responsive disign -->
    <meta name="viewport" content="width=device-width">
    <!-- Icono de la aplicación -->
    <link rel="shortcut icon" type="image/x-icon" href="${root}favicon.ico" />
    <!-- Enlace a la hoja de estilos general -->
    <link rel="stylesheet" href="${root}views/images/css/styles.css">
    <!-- trabajar las rutas absolutas dentro de javascript -->
    <script type="text/javascript">
        var root = "${root}";
    </script>
    <script src="${root}views/js/scripts.js"></script>
    <!-- Titulo de la pagina -->
    <title>${title}</title>
</head>

<body>
    <header>
    </header>
    <div id="main">
    	${msg-scoop}
		${page}
    </div>
    <footer>
    </footer>
</body>
</html>