#msg-out
#msg-error
#msg-alert
#msg-not
    background #FFF no-repeat 5px center
    font 700 1em Arial, Helvetica, sans-serif
    padding 5px
    padding-left 25px
    position relative
    width 100%
    z-index 1005
    top 0

#msg-not
    height 0
    display none

#msg-out
    background-image url($url-images+"success.png")
    color #45B339

#msg-error
    background-image url($url-images+"error.png")
    color #C00

#msg-alert
    background-image url($url-images+"alert.png")
    color #F7B81C

.center
    text-align center

.error
    background url($url-images+"error.png")
    display inline-block
    height 16px
    text-indent -999em
    visibility hidden
    width 16px