<div style="background:#FFF; padding:10px;">
<h1>Acceso al Home</h1>
<p>Pequeño camión <a href="{root}" rel="modal" title="Hola mundo">enlace</a></p>
<form method="post" action="{root}home/save/">
	<label style="width:150px">Nombre de usuario:</label><input type="text" size="30" name="nombre" /><br /><br />
    <label style="width:150px">Nombres:</label><input type="text" size="30" name="nombres" /><br /><br />
    <label style="width:150px">Apellidos:</label><input type="text" size="30" name="apellidos" /><br /><br />
    <label style="width:150px">Dirección:</label><input type="text" size="30" name="direccion" /><br /><br />
    <center><input type="submit" value="grabar" /></center>
</form>
</div>