#main
    width 90%
    margin 0 auto
    margin-top 2em
    blockquote
        letter-spacing .02em
        max-width 35em
        margin auto
    h1
    	fa-icon "spoon" after
    	&:after
    		font 1em FontAwesome
    		margin-left .5em
.jumbotron
    text-align center
    color #777
