html
body
    height 100%
footer.main
    text-align right
    width 95%
    margin auto
    height 60px
.wrapper
    min-height 100%
    margin-bottom -60px
    text-align center
.jumbotron
    margin 0 auto
    color #777
    padding-bottom 60px
    blockquote
        letter-spacing .02em
        max-width 35em
        margin auto
    h1
        fa-icon "spoon"
        &:before
            font 1em FontAwesome
            margin-right .2em
