scoopInputs = '.input,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="time"],
input[type="datetime"],
input[type="search"],
textarea'

.btn
    background $gray image-url("common/btn-overlay.png") repeat-x
    border 0
    border-bottom 1px solid rgba(0,0,0,0.25)
    border-radius .5em
    box-shadow 0 1px 3px rgba(0,0,0,0.6)
    color white
    cursor pointer
    display inline-block
    font-weight 700
    padding .5em 1em
    position relative
    text-shadow 0 -1px 1px rgba(0,0,0,0.25)
    &:hover
        background-color $gray-hover
    &:disabled
        background-color $bg-disable
        color $gray
        cursor not-allowed
        &:hover
            background-color $bg-disable

.input
    border-radius .3em
    border solid 1px $border-text
    margin .5em 0 .5em -.5em
    padding .5em
    vertical-align middle
    max-width 100%
    &:disabled
        cursor not-allowed
        background-color lighten($bg-disable, 60%)

.custom-input-file
    overflow hidden
    position relative
    cursor pointer
    .input-file
        outline 0
        font-size 10000px
        border 10000px solid transparent
        opacity 0
        filter unquote("alpha(opacity=50)")
        position absolute
        right -1000px
        top -1000px
        cursor pointer
        z-index 1

.input-block
    display inline-block
    margin 0 1em
    vertical-align top
    {scoopInputs}
        width 100%

/* forms */
.scoop-form
    input[type="checkbox"]
    input[type="radio"]
        position absolute
        opacity 0
        //fallback for IE6, IE7 and IE8
        position static\9
        & + span::before
            content ""
            display inline-block
            width 13px
            height 13px
            vertical-align middle
            background-repeat  no-repeat
            background-position 0px -13px
            margin-left -10px
            background-image image-url("common/sprite-control-pick.png")
    input[type="checkbox"]:checked + span::before
        background-position 0 -26px
    input[type="radio"] + span::before
        background-position -13px -13px
    input[type="radio"]:checked + span::before
        background-position -13px -26px
    /* disabled form elements */
    input[type="checkbox"]:disabled + span
    input[type="checkbox"]:disabled + span::before
        background-position 0 0
    input[type="radio"]:disabled + span
    input[type="radio"]:disabled + span::before
        background-position -13px 0
    /*prevent the entire page from scrolling if there is overflow
    and checkbox or radio button are clicked */
    label
        position relative
        margin 0 1em 0 -.5em
        cursor pointer
    i::after
        font 1em "FontAwesome"
        margin-left .3em
        vertical-align middle
    input[type="text"]
    input[type="email"]
    input[type="number"]
    textarea
        @extend .input
    .error
        label, i
            color $red
        i::after
            content "\f057"
        {scoopInputs}
            border-color $red
    .success
        label, i
            color $green
        i::after
            content "\f058"
        {scoopInputs}
            border-color $green
    .warning
        label, i
            color $yellow
        i::after
            content "\f06a"
        {scoopInputs}
            border-color $yellow
    textarea
        height 120px
