#msg-out
#msg-error
#msg-warning
#msg-not
    background white no-repeat 5px center
    font 700 1em Arial, Helvetica, sans-serif
    position relative
    top 0
    width 100%
    z-index 1005
    padding .2em 0
    border-bottom solid 1px #DDD
    &::before
        font 1.5em "FontAwesome"
        padding 0 .5em
        vertical-align middle
    i
        float right
        margin-right .5em
        cursor pointer
        color #AAA

#msg-not
    height 0
    display none

#msg-out
    color $green
    &::before
        content "\f00c"

#msg-error
    color $red
    &::before
        content "\f057"

#msg-warning
    color $yellow
    &::before
        content "\f071"

.center
    text-align center
