#msg-out
#msg-error
#msg-warning
#msg-not
    background white no-repeat 5px center
    font 700 1em Arial, Helvetica, sans-serif
    padding 5px
    position relative
    top 0
    width 100%
    z-index 1005
    &::before
        font-family "FontAwesome"
        font-size 1.3em
        padding-right .5em

#msg-not
    height 0
    display none

#msg-out
    color $green
    &::before
        content "\f00c"

#msg-error
    color $red
    &::before
        content "\f057"

#msg-warning
    color $yellow
    &::before
        content "\f071"
