/*urls*/
$images = "../images/"
$node-modules = "../../node_modules/"

/*colors*/
$blue = #2981E4
$blue-hover = #2575CF
$red = #E62727
$red-hover = #CF2525
$green = #91BD09
$green-hover = #749A02
$orange = #FF5C00
$orange-hover = #D45500
$yellow = #FFB515
$yellow-hover = #FC9200
$gray = #222
$gray-hover = #111
$green = #45B339
$border-text = #96A6C5
