#main
    width 90%
    margin 0 auto
    margin-top 2em
    .jumbotron
        text-align center
        color #777
        blockquote
            letter-spacing .02em
            max-width 35em
            margin auto
