/* HTML5 display-role reset for older browsers */
* {
	margin: 0;
	padding: 0;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size:.85em;
}

a {
	text-decoration: none;
}

input, textarea, img {
	vertical-align: middle;
}

img, fieldset {
	border: 0;
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0.5em 0;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1em; }
h5 { font-size: .9em; }
h6 { font-size: .8em; }

label {
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}

p {
	margin: 1em 0;
	text-align: justify;
}

hr {
	background: #CCC;
	border: 0;
	clear: both;
	color: #CCC;
	height: 1px;
	margin: 5px auto;
}

table {
	border-collapse: collapse;
	border: 1px solid #CCC;
	width: 100%;
}

th, td {
	border: 0.1em solid #CCC;
	padding: 2px 5px;
}
:focus {
	outline: 0;
}

/*** botones ***/

.btn {
	background: #222 url(../btn-overlay.png) repeat-x;		
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	padding: 5px 10px;
	position: relative;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	zoom: 1;
	*display: inline;
}
.btn:hover { background-color: #111; }
.btn:active { top:1px; }

.blue { background-color: #2981E4;}
.blue:hover { background-color: #2575CF; }
.red { background-color: #E62727; }
.red:hover { background-color: #CF2525; }
.green { background-color: #91BD09; }
.green:hover { background-color: #749A02;}
.orange { background-color: #FF5C00; }
.orange:hover { background-color: #D45500; }
.yellow { background-color: #FFB515; }
.yellow:hover { background-color: #FC9200; }

.custom-input-file {
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
/* margin:0; padding:0*/
.custom-input-file .input-file {
	outline: 0;
	font-size: 10000px;
	border: 10000px solid transparent;
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	right: -1000px;
	top: -1000px;
	cursor: pointer;
}
.input-text {
	border-radius: 3px;
	border: solid 1px #96A6C5;
	margin: 5px;
	padding: 5px;
	vertical-align: middle;
}

#out, #error {
	background: no-repeat left center;
	font: 700 1em Arial, Helvetica, sans-serif;
	margin: 5px;
	padding-left: 20px;
}
#msg {display:none;}
#out {
	background-image: url(../ok.png);
	color: #45B339;
}
#error {
	background-image: url(../error.png);
	color: #C00;
}

.center { text-align: center; }