#overlay-std {
	background: url(../opacity.png);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index:1001;
}

#modal-std {
	left: 50%;
	overflow: hidden;
	position: fixed;
	top: 50%;
	z-index: 1002;
}

.modal-head {
	background:#3381B7;
	cursor: move;
	height: 16px;
	padding: 10px 0 5px 0;
	width:100%;
	border-bottom: 1px solid #169;
	border-radius: 5px 5px 0 0;
}

.modal-head h2 {
	color: #FFF;
	font: 700 14px Verdana, Geneva, sans-serif;
	margin: 0 10px;
}

.modal-head div {
	background: url(../cerrar.png) no-repeat center center;
	cursor: pointer;
	float: right;
	margin-top: -10px;
	border-left: 1px solid #169;
	height: 30px;
	width: 30px;
}

.modal-body {
	background: #FFF;
	padding: 1px 0 5px 0;
	border-radius: 0 0 5px 5px;
}

#modal-loading {
	width: 50px;
	height: 50px;
	z-index: 1002;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	position: fixed;
	background: #000 url(../modal_loading.gif) no-repeat center center; 
	border-radius: 6px;
}