@charset "utf-8";

/*
	* Reset universal de tipo caja.
*/

* {
	margin: 0;
	padding: 0;
}

/*
	* Visualizar correctamente etiquetas HTML5 en navegadores antigüos.
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
	* Normalizar la forma en que navegadores antigüos renderizan el tamaño del texto cuando se usan 
	* unidades 'em' en el body.
	* Establecer tamaño y tipo de fuente principal
*/
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
    font-family: Verdana, Geneva, sans-serif;
}

body {
	font-size:.85em;
}

a {
	text-decoration: none;
	outline: 0;
}

input,
textarea,
img {
	vertical-align: middle;
}

img,
fieldset,
video {
	border: 0;
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial, Helvetica, sans-serif;

}

h1 {
	font-size: 2em;
	margin: .67em 0;
}

h2 {
	font-size: 1.5em;
	margin: .83em 0;
}

h3 {
	font-size: 1.17em;
	margin: 1em 0;
}

h4 {
	font-size: 1em;
	margin: 1.33em 0;
}

h5 {
	font-size: .83;
	margin: 1.67em 0;
}

h6 {
	font-size: .75em;
	margin: 2.33em 0;
}

label {
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
}

p {
	margin: 1em 0;
	text-align: justify;
}

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

hr {
	background: #CCC;
	border: 0;
	clear: both;
	color: #CCC;
	height: 1px;
	margin: 5px auto;
}

table {
	border-collapse: collapse;
	border: 1px solid #CCC;
	border-spacing: 0;
	width: 100%;
}

th, td {
	border: .1em solid #CCC;
	padding: 2px 5px;
}

:focus { outline: 0; }

/*** botones ***/

.btn {
	background: #222 url(../btn-overlay.png) repeat-x;		
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	padding: 5px 10px;
	position: relative;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	*display: inline;
	*zoom: 1;
}
.btn:hover { background-color: #111; }
.btn:active { top:1px; }

.blue { background-color: #2981E4;}
.blue:hover { background-color: #2575CF; }
.red { background-color: #E62727; }
.red:hover { background-color: #CF2525; }
.green { background-color: #91BD09; }
.green:hover { background-color: #749A02;}
.orange { background-color: #FF5C00; }
.orange:hover { background-color: #D45500; }
.yellow { background-color: #FFB515; }
.yellow:hover { background-color: #FC9200; }

.custom-input-file {
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.custom-input-file .input-file {
	outline: 0;
	font-size: 10000px;
	border: 10000px solid transparent;
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	right: -1000px;
	top: -1000px;
	cursor: pointer;
	z-index: 1;
}
.input-text {
	border-radius: 3px;
	border: solid 1px #96A6C5;
	margin: 5px;
	padding: 5px;
	vertical-align: middle;
}

#msg-out, #msg-error, #msg-alert, #msg-not {
	background: #FFF no-repeat 5px center;
	font: 700 1em Arial, Helvetica, sans-serif;
	padding: 5px;
	padding-left: 25px;
	position: relative;
	top: 0;
}
#msg-not { height: 0 }
#msg-out {
	background-image: url(../ok.png);
	color: #45B339;
}
#msg-error {
	background-image: url(../error.png);
	color: #C00;
}
#msg-alert {
	background-image: url(../alert.png);
	color: #F7B81C;
}

.center { text-align: center; }

.error {
	background: url(../error.png);
	display: inline-block;
	height: 16px;
	text-indent: -999em;
	visibility: hidden;
	width: 16px;
	*display: inline;
	*zoom: 1;
}