* {
	padding: 0;
	margin: 0;
}

img {
	border: 0;
}

.slider-std {
	margin: 0 auto;
	display: table;
}

.slider-std ul {
	list-style: none;
	background: #000;
	overflow: hidden;
	border: solid 4px #CCC;
	border-radius: 5px;
	position: relative;
	box-shadow: 0 0 25px rgba(0, 0, 0, .3);
}

.slider-std span {
	background: url(../opacity.png);
	color: #FFF;
	display: block;
	padding: 0.5em;
	position: relative;
	width: 100%;
	left: 0;
	bottom: 0;
}

.slider-std .control {
	height: 100%;
	width: 100%;
	position:  absolute;
	top: 0;
	text-align: center;
}

.slider-std .control .navLeft, .slider-std .control .navRight, .slider-std .control .link {
	cursor: pointer;
	display: inline-block;
	width: 25%;
	height: 100%;
	zoom: 1;
	*display: inline;
}

.slider-std .control .navLeft {
	background: url(../left.gif) no-repeat center left;
	float: left;
}
.slider-std .control .navRight {
	background: url(../right.gif) no-repeat center right;
	float: right;
}
.slider-std .control .link {
	background: no-repeat center center;
	width: 50%;
}

.slider-std .control .link:hover {
	background-image: url(../link.gif);
}

.slider-nav {
	text-align: center;
}

.slider-nav a {
	display: inline-block;
	margin: 10px 5px;
	width: 13px;
	height: 13px;
	background: url(../bg_control_nav.png) no-repeat;
	cursor: pointer;
	font-size: 0;
	line-height: 0;
	zoom: 1;
	vertical-align: middle;
	*display: inline;
}

.slider-nav .normal:hover {
	background-position: 0 -13px;
}

.slider-nav .span {
	background-position: 0 -26px;
	cursor: default;
}