$color-blue = #2981E4
$color-blue-hover = #337AB7
$color-red = #E62727
$color-red-hover = #CF2525
$color-green = #91BD09
$color-green-hover = #749A02
$color-orange = #FF5C00
$color-orange-hover = #D45500
$color-yellow = #FFB515
$color-yellow-hover = #FC9200
$color-gray = #333
$color-gray-hover = #111
$color-border-text = #96A6C5
$color-bg-success = #DFF0D8
$color-bg-info = #D9EDF7
$color-bg-warning = #FCF8E3
$color-bg-error = #F2DEDE
$color-bg-disable = #E0E0E0
$color-check = #2091CF
