label
    position relative
    cursor pointer
    &.out
        margin-right -.5em
        margin-left .5em

input[type="currency"]
    text-align right

.btn
    background $color-main
    border 0
    border-bottom 1px solid rgba(0, 0, 0, .25)
    border-radius .5em
    box-shadow 0 1px 3px rgba(0, 0, 0, .6)
    color white
    cursor pointer
    display inline-block
    font-weight 700
    padding .5em 1em
    margin .5em 0
    position relative
    text-shadow 0 -1px 1px rgba(0, 0 , 0, .25)
    &.success
        background-color $color-green-main
        &:hover
        &:disabled
            background-color $color-green-strong
    &.error
        background-color $color-red-main
        &:hover
        &:disabled
            background-color $color-red-main
    &.warning
        background-color $color-yellow-main
        &:hover
        &:disabled
            background-color $color-yellow-strong
    &.info
        background-color $color-blue-main
        &:hover
        &:disabled
            background-color $color-blue-strong
    &:hover
    &:disabled
        background-color $color-strong
    &:disabled
        cursor not-allowed

input:not([type=submit]):not([type=button]):not([type=file])
    &:not([type=reset]):not([type=color]):not([type=image])
        &:not([type=radio]):not([type=checkbox]):not([type=range])
        /textarea
            &:read-only
                cursor not-allowed

.input
    border-radius .3em
    border solid 1px $color-border-text
    padding .5em
    margin .5em 0
    vertical-align middle
    max-width 100%
    box-sizing border-box
    &:disabled
        cursor not-allowed
        background-color $color-bg-disabled

.custom-input-file
    overflow hidden
    position relative
    cursor pointer
    .input-file
        outline 0
        font-size 10000px
        border 10000px solid transparent
        opacity 0
        filter unquote("alpha(opacity=50)")
        position absolute
        right -1000px
        top -1000px
        cursor pointer
        z-index 1

.group-box
    display inline-block
    padding 0 .5em
    box-sizing border-box
    .input-box
        display block
        padding 0
        .input
            width 100%
            &.number-short
                width 6em
        &.group
            display flex
        .icon
            right -.8em
        &[data-tooltip]:focus-within::before
            right 0
            left 0
        em
            right -.5em
    &.block
        display block
        margin .5em 0 1.2em 0

.input-box
    position relative
    display inline-block
    padding 0 .5em
    em
        color $color-red-main
        position absolute
        top 0
        right 0
    .icon
        position absolute
        right -.3em
        top 30%
        vertical-align middle
        fa-icon "circle"
        visibility hidden
        font 1em FontAwesome
        width auto !important
    &[data-tooltip]:focus-within::before
        content attr(data-tooltip)
        position absolute
        text-align center
        top 100%
        margin-top -.8em
        right .5em
        left .5em
        display inline-block
        padding .3em .5em
        border-radius 0 0 .5em .5em
        background $color-gray-strong
        color #FFF
        font .9em sans-serif
        z-index 1
    &.error
        alert-box "times-circle" $color-red-main
    &.success
        alert-box "check-circle" $color-green-main
    &.warning
        alert-box "exclamation-circle" $color-yellow-main
    &.group
        display inline-flex
        *
            border-radius 0
        :first-child
            border-top-left-radius .3em
            border-bottom-left-radius .3em
        .last
        :last-child
            border-top-right-radius .3em
            border-bottom-right-radius .3em
        .badge
            background #eee
            color #777
            padding .5em
            margin .4em 0
            border 1px solid #ddd
            vertical-align middle
    &.password
        .raw
            font 1em FontAwesome
            position absolute
            right 1em
            top 30%
            vertical-align middle
            width auto !important
            background #fff
            &.show
                fa-icon "eye"
            &.hide
                fa-icon "eye-slash"

.radio
.checkbox
    input[type=radio]
    input[type=checkbox]
        display none
        & + label
            margin-left 1em
        & + label:before
            display inline-block
            color $color-border-text
            font-family FontAwesome
            font-style normal
            font-weight normal
            line-height 1
            margin-left -1.2em
            padding-right .2em
            width 1em
            text-align left
        &:checked + label:before
        & + label:hover:before
            color $color-check
        &:disabled + label:before
            color $color-bg-disable
    input[type=radio]
        & + label
            fa-icon "circle-o"
        &:checked + label
            fa-icon "check-circle-o"
    input[type=checkbox]
        & + label
            fa-icon "square-o"
        &:checked + label
            fa-icon "check-square-o"
