label
    position relative
    margin 0 .5em
    cursor pointer

.btn
    background $gray
    border 0
    border-bottom 1px solid rgba(0, 0, 0, .25)
    border-radius .5em
    box-shadow 0 1px 3px rgba(0, 0, 0, .6)
    color white
    cursor pointer
    display inline-block
    font-weight 700
    padding .5em 1em
    margin .5em
    position relative
    text-shadow 0 -1px 1px rgba(0, 0 , 0, .25)
    &:hover
        background-color $gray-hover
    &:disabled
        background-color $bg-disable
        color $gray
        cursor not-allowed
        &:hover
            background-color $bg-disable

.input
    border-radius .3em
    border solid 1px $border-text
    margin .5em
    padding .5em
    vertical-align middle
    max-width 100%
    &:disabled
        cursor not-allowed
        background-color lighten($bg-disable, 60%)

.custom-input-file
    overflow hidden
    position relative
    cursor pointer
    .input-file
        outline 0
        font-size 10000px
        border 10000px solid transparent
        opacity 0
        filter unquote("alpha(opacity=50)")
        position absolute
        right -1000px
        top -1000px
        cursor pointer
        z-index 1

.group-box
    display inline-block
    margin 0 1em
    vertical-align top
    text-align left
    {scoopInputs}
        width 100%
        margin-top .2em
    .btn
        margin-top 1.6em

/* forms */
.scoop-form
    input[type=checkbox]
    input[type=radio]
        opacity 0
        position absolute
        z-index 12
        width 18px
        height 18px
        &:checked
        &:focus
            outline none !important
        &+.lbl
            position relative
            z-index 11
            display inline-block
            margin 0
            line-height 20px
            min-height 14px
            min-width 14px
            font-weight normal
            &::before
                font-family fontAwesome
                font-weight normal
                font-size 11px
                color $check-color
                content "\a0"
                background-color #FAFAFA
                border 1px solid #CCC
                box-shadow 0 1px 2px rgba(0, 0, 0, .05)
                border-radius 0
                display inline-block
                text-align center
                vertical-align middle
                height 13px
                line-height 13px
                min-width 13px
                margin-right 0px
                margin-right 1px
                margin-top -5px
        &:checked+.lbl::before
            display inline-block
            content '\f00c'
            background-color #F5F8FC
            border-color $border-text
            box-shadow 0 1px 2px rgba(0, 0, 0, .05), inset 0px -15px 10px -12px rgba(0, 0, 0, .05), inset 15px 10px -12px rgba(255, 255, 255, .1)
        &:hover+.lbl::before
        &+.lbl:hover::before
            border-color $check-color
        &:active+.lbl::before
        &:checked:active+.lbl::before
            box-shadow 0 1px 2px rgba(0, 0, 0, .05), inset 0px 1px 3px rgba(0, 0, 0, .1)
        &:disabled+.lbl::before
        &[disabled]+.lbl::before
        &.disabled+.lbl::before
            background-color #DDD !important
            border-color #CCC !important
            box-shadow none !important
            color #BBB
    input[type=radio]+.lbl::before
        border-radius 32px
        font-family Arial, Helvetica, sans-serif
        font-size 36px
    input[type=radio]:checked+.lbl::before
        content "\2022"
    i::after
        font 1em "FontAwesome"
        margin-left .3em
        vertical-align middle
    .error
        label, i
            color $red
        i::after
            content "\f057"
        {scoopInputs}
            border-color $red
    .success
        label, i
            color $green
        i::after
            content "\f058"
        {scoopInputs}
            border-color $green
    .warning
        label, i
            color $yellow
        i::after
            content "\f06a"
        {scoopInputs}
            border-color $yellow
    textarea
        height 120px
