#msg
    background white no-repeat 5px center
    font 700 1em Arial, Helvetica, sans-serif
    position relative
    top 0
    width 100%
    z-index 1005
    padding .2em 0
    border-bottom solid 1px #DDD
    &::before
        font 1.5em "FontAwesome"
        padding 0 .5em
        vertical-align middle
    i
        float right
        margin-right .5em
        cursor pointer
        color #AAA
    &.not
        height 0
        display none
    &.success
        color $green-hover
        &::before
            content "\f00c"
    &.error
        color $red-hover
        &::before
            content "\f057"
    &.warning
        color $yellow-hover
        &::before
            content "\f071"
    &.info
        color $blue-hover
        &::before
            content "\f05a"

.center
    text-align center
    margin 1em 0
