#msg
    background white no-repeat 5px center
    font 700 1em Arial, Helvetica, sans-serif
    position sticky
    top 0
    width 100%
    z-index 1005
    padding .2em 0
    border-bottom solid 1px #DDD
    &:before
        font 1.5em FontAwesome
        padding 0 .5em
        vertical-align middle
    .close
        font 1em FontAwesome
        fa-icon "times"
    i
        float right
        margin-right .5em
        cursor pointer
        color #AAA
    &.not
        height 0
        display none
    &.success
        color $color-green-hover
        fa-icon "check"
    &.error
        color $color-red-hover
        fa-icon "times-circle"
    &.warning
        color $color-yellow-hover
        fa-icon "exclamation-circle"
    &.info
        color $color-blue-hover
        fa-icon "info-circle"

.center
    text-align center
