$inputs = 'input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="time"],
input[type="datetime"],
input[type="search"],
textarea,
.input'

font-url($url)
    url("../fonts/" + $url)

image-url($url)
    url("../images/" + $url)

font-face($family, $file, $weight = "normal")
      @font-face
        font-family $family
        src font-url($file + ".eot")
        src font-url($file + ".eot?#iefix") format("embedded-opentype"),
            font-url($file + ".woff") format("woff"),
            font-url($file + ".ttf") format("truetype"),
            font-url($file + ".svg#"+ $family) format("svg")
        font-weight $weight
        font-style normal

alert-box($icon, $color)
    color: $color !important
    label
        color $color !important
    .icon
        fa-icon $icon
        color $color
        visibility visible
    {$inputs}
        border-color $color !important

icon-box()
    .icon
        vertical-align middle
        fa-icon "circle"
        visibility hidden
        font 1em FontAwesome
        position absolute
        margin .8em 0 0 -1.2em
        width auto !important
    &.error
        alert-box "times-circle" $color-red-normal
    &.success
        alert-box "check-circle" $color-green-normal
    &.warning
        alert-box "exclamation-circle" $color-yellow-normal
