font-url($url)
    url("../fonts/" + $url)

image-url($url)
    url("../images/" + $url)

font-face($family, $file, $weight = "normal")
      @font-face
        font-family $family
        src font-url($file + ".eot")
        src font-url($file + ".eot?#iefix") format("embedded-opentype"),
            font-url($file + ".woff") format("woff"),
            font-url($file + ".ttf") format("truetype"),
            font-url($file + ".svg#"+ $family) format("svg")
        font-weight $weight
        font-style normal
        font-display swap

alert-box($icon, $color)
    .icon
        fa-icon $icon
        color $color
        visibility visible
    .input
        border-color $color !important
    label
        color $color
