//Reset universal de tipo caja.
*
    margin 0
    padding 0

/*
    * Normalizar la forma en que navegadores antigüos renderizan el tamaño del texto
    * cuando se usan unidades 'em' en el body.
    * Establecer tamaño y tipo de fuente principal
*/
html
    font-size 100%
    -webkit-text-size-adjust 100%
    -ms-text-size-adjust 100%
html
button
input
select
textarea
    font-family Helvetica, arial, freesans, clean, sans-serif

/*
    * Display HTML5
    * Visualizar correctamente etiquetas HTML5 en navegadores antigüos.
*/
article
aside
details
figcaption
figure
footer
header
hgroup
main
nav
section
summary
    display block

audio
canvas
video
    display inline-block
    vertical-align middle

audio:not([controls])
svg:not(:root)
[hidden]
template
    display none
    height 0

a
    text-decoration none
    outline 0

abbr
    border-bottom 1px dotted #333
    cursor help
    text-decoration none

code
kbd
pre
samp
    font 1rem monospace

input
textarea
img
    vertical-align middle

img
fieldset
video
    border 0
    max-width 100%

figure
    margin 1em 40px

b
strong
    font-weight 700

dfn
    font-style italic

h1
    font-size 2rem
    margin .67em 0

h2
    font-size 1.5rem
    margin .83em 0

h3
    font-size 1.17rem
    margin 1em 0

h4
    font-size 1rem
    margin 1.33em 0

h5
    font-size .83rem
    margin 1.67em 0

h6
    font-size .75rem
    margin 2.33em 0

mark
    background #FF0
    color #000

small
    font-size 80%

sub
sup
    font-size 75%
    line-height 0
    position relative
    vertical-align baseline

sub
    top -0.5em

sup
    bottom -0.25em

label
    display inline-block
    vertical-align middle

p
    margin 1em 0
    text-align justify

dl
ol
ul
    margin 1em 0

dd
menu
ol
ul
    margin 0 0 0 40px

nav
    ol
    ul
        list-style none
        list-style-image none
        margin 0

hr
    background #CCC
    border 0
    clear both
    color #CCC
    height 1px
    margin 5px auto

blockquote
    border-left 5px solid #EEE
    padding 10px 20px
    margin 0 0 1em
    text-align justify
    font-size 1.1rem
    footer
        text-align right
        font-size .9rem

table
    border-collapse collapse
    border 1px solid #CCC
    border-spacing 0
    width 100%

th
td
    border .1em solid #CCC
    padding 2px 5px

:focus
:invalid
    box-shadow none
    outline 0
