.scoop-table
    overflow-x auto
    caption
        font-size 1.5em
        margin .5em 0 .75em
    tr
        background-color #f8f8f8
        border 1px solid #ddd
        &:hover td
            background-color #eee
            cursor default
    th
    td
        padding .625em
        text-align center
        height 1em
        input[type=checkbox]
        input[type=radio]
            padding 0
        label
            margin 0
    th
        font-size .85em
        letter-spacing .1em
        text-transform uppercase

@media screen and (max-width: 600px)
    .scoop-table
        border: 0
        caption
            font-size: 1.3em
        thead
            border none
            clip rect(0 0 0 0)
            height 1px
            margin -1px
            overflow hidden
            padding 0
            position absolute
            width: 1px
        tr
            border-bottom 3px solid #ddd
            display block
            margin-bottom .625em
        td:not([hidden])
            border-bottom 1px solid #ddd
            display flex
            font-size .8em
            text-align right
            height auto
            justify-content space-between
        td::before
            content attr(data-label)
            font-weight bold
            text-transform uppercase
        td:last-child
            border-bottom 0
