/*urls*/
$images-path = '../images/'
$node-modules-path = '../../node_modules/'
$fonts-path = '../fonts/'

/*colors*/
$blue = #2981E4
$blue-hover = #337AB7
$red = #E62727
$red-hover = #CF2525
$green = #91BD09
$green-hover = #749A02
$orange = #FF5C00
$orange-hover = #D45500
$yellow = #FFB515
$yellow-hover = #FC9200
$gray = #333
$gray-hover = #111
$green = #45B339
$border-text = #96A6C5
$bg-success = #DFF0D8
$bg-info = #D9EDF7
$bg-warning = #FCF8E3
$bg-error = #F2DEDE
$bg-disable = #E0E0E0
$check-color = #2091CF

/*forms*/
formInputs = 'input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="time"],
input[type="datetime"],
input[type="search"],
textarea'
scoopInputs = '.input,' + formInputs;
